{% extends 'main/header.html' %}

{% block content %}
<div class="container">
    <h6>Sauna Subscription - Valid to: {{valid_to}}</h6>
    <br>
    <table class="striped" style="font-size: 80%">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Sport Type</th>
            <th>Date</th>
            <th>Place</th>
            <th>Room</th>
            <th>Ranking</th>
        </tr>
        </thead>

        <tbody>
        {% for obj in json_obj %}
        <tr>
            <td> {{obj.lessonName}} </td>
            <td> {{obj.sportName}} </td>
            <td> {{obj.lessonTime}} </td>
            <td> {{obj.location}} </td>
            <td> {{obj.room}}</td>
            <td> {{obj.placeNumber}} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


