<head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Load favicon.ico -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">
                    <div style="white-space: nowrap; font-weight:bold; font-size: min(4vw, 30px);">ASVZ Subscriber and Validation Zealot</div>
                </a>
                <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a href="/">Home</a></li>
                        <li><a href="/account">{{ user.username }}</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
            <li><a href="/">Home</a></li>
            <li><a href="/account">{{ user.username }}</a></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:3000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:3000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>
</body>
