{% extends 'main/header.html' %}

{% block content %}
    <br>
    <!-- Left Column -->
    <form method="post">
        {% csrf_token %}
        <div class="row">

            <!-- Events Selection -->
            <div class="col s6">
                <label>
                    <input type="checkbox"/>
                </label>
                <!--<form method='post'>-->
                    <button type="submit" class="btn btn-success" name="schedule" value="schedule">Schedule Selected Events</button>
                    <!--{% csrf_token %}-->
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success" name="schedule" value="schedule">Schedule Selected Events</button>
                <!--</form>-->
            </div>

            <!-- Right Column -->
            <div class="col s6">
                <!--<form method="POST">-->
                    <!--{% csrf_token %}-->
                    <div class="row">
                        <!-- Sporttype -->
                        <div class="input-field col s6">
                            <select multiple id='sporttype' name="sporttype">
                                {% for type in sporttypes %}
                                    {% if type in selected_sporttypes %}
                                        <option value="{{ type }}" selected>{{ type }}</option>
                                    {% else %}
                                        <option value="{{ type }}" >{{ type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Sporttype</label>
                        </div>

                        <!-- Facility -->
                        <div class="input-field col s6">
                            <select multiple id='facility' name="facility">
                                {% for facility in facilities %}
                                    {% if facility in selected_facilities %}
                                        <option value="{{ facility }}" selected>{{ facility }}</option>
                                    {% else %}
                                        <option value="{{ facility }}">{{ facility }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Facility</label>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Date and Time -->
                        <div class="col s3">
                            <label for="date">Date</label>
                            <input id="date" name="date" type="text" class="datepicker" value="{{ selected_date }}">
                        </div>
                        <div class="col s3">
                            <label for="time">Time</label>
                            <input id="time" name="time" type="text" class="timepicker" value="{{ selected_time }}">
                        </div>

                        <!-- Search Results -->
                        <div class="col s3">
                            <label>
                                <label for="limit">Search Results:</label>
                                <input id="limit" type="number" name="limit" min="0" max="300" value="{{ selected_limit }}">
                            </label>
                        </div>

                        <!-- Sauna Boolean -->
                        <div class="col s3">
                            <label for="sauna">
                                <input id="sauna" name="sauna" type="checkbox" class="filled-in" {{ selected_sauna }}/>
                                <span>Sauna</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" name="show_results" value="show_results">Show Results</button>
                    <br>
                    <br>
                <!--</form>-->

                <!-- Scheduled Events -->
                <div class="row">
                    <div class="col s12">
                        <label>
                            <input type="checkbox"/>
                        </label>
                        <!--<form method='POST'>-->
                            <button type="submit" class="btn btn-success" name="deschedule" value="deschedule">Deschedule Selected Events</button>
                            <!--{% csrf_token %}-->
                            {{ form_scheduled.as_p }}
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        var today = new Date()

        $(document).ready(function(){
            $('select').formSelect();
        });

        $(document).ready(function(){
            $('.datepicker').datepicker({
                autoClose: true,
                //defaultDate: today,
                format: 'dd.mm.yyyy',
                //setDefaultDate: true,
            });
        });

        $(document).ready(function(){
            $('.timepicker').timepicker({
                autoClose: true,
                //defaultTime: 'now',
                twelveHour: false,
            });
        });
    </script>
{% endblock %}


