{% extends 'main/header.html' %}
{% load materializecss %}

{% block content %}
    <div class="container">
        <br>
        <h6 style="color:darkred">By using this tool you are violating the "Benutzerordnung für Telematik (BOT)" of ETH Zürich.</h6>
        <h6>Your password will be encrypted on my raspberry pi at home behind my router (hardware-firewall) by a locally saved key and saved in a local database.
            Therefore, I have the ability to access your account if I want to. Just so you know.
            By using this tool you eventually are going to trust me to not abuse my power.</h6>
        <h6>There is no guarantee that it works.</h6>
        <h6 style="color:darkred">Don't spread information of this bot, otherwise I have to take it down eventually.</h6>
        <br>
        <h6>This bot only works with an ASVZ login. If you don't have one because you use your ETHZ, UZH, ZHAW, etc. login, follow these steps to get your hidden ASVZ ID:</h6>
        <h6>1. Go to https://schalter.asvz.ch.</h6>
        <h6>2. Click on "Forgot password" at the ASVZ-ID login field (the right and blue one).</h6>
        <h6>3. Fill only your institution email in (e g raba@student.ethz.ch).</h6>
        <h6>==> You should now have received your ASVZ-ID by mail and can set your password. You can login to ASVZ with both logins but the bot only works with the ASVZ login.</h6>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <br>
            <button class="btn waves-effect waves-light" type="submit">
                <i class="material-icons right">send</i>
                Register
            </button>
        </form>
    </div>
{% endblock %}
