{% extends 'main/header.html' %}
{% load materializecss %}

{% block content %}
    <div class="container">
        <h6 style="color:darkred">By using this tool you are violating the "Benutzerordnung für Telematik (BOT)" of ETH Zürich.</h6>
        <h6>Your password will be encrypted by a locally saved key and saved in a local database.
            All on my raspberry pi at home behind my router (hardware-firewall).
            Therefore, I have the ability to access your ethz password if I want to.
            By using this tool you have to trust me to not abuse my power.</h6>
        <h6 style="color:darkred">Don't spread information of this bot, otherwise the probability rises that I have to take it down.</h6>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <br>
            <button class="btn" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
