{% extends 'main/header.html' %}
{% load materializecss %}

{% block content %}
    <div class="container">
        <h6 style="color:darkred">By using this tool you are violating the "Benutzerordnung für Telematik (BOT)" of ETH Zürich.</h6>
        <h6>Your password will be encrypted on my raspberry pi at home behind my router (hardware-firewall) by a locally saved key and saved in a local database.
            Therefore, I have the ability to access your account if I want to. Just so you know.
            By using this tool you eventually are going to trust me to not abuse my power.</h6>
        <h6 style="color:darkred">Don't spread information of this bot, otherwise I have to take it down eventually.</h6>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <br>
            <button class="btn waves-effect waves-light" type="submit">
                <i class="material-icons right">send</i>
                Register
            </button>
        </form>
    </div>
{% endblock %}
