{% extends 'main/header.html' %}

{% block content %}
    <div class="container" style="margin: auto">
        <br>
        <h5 style="color:darkred">Your account is being verified and has to be activated by an administrator.</h5>
        <br>
        <h6>During this time all actions apart from login are prohibited.</h6>
        <br>
        <h6>If automatic login is not successful with your credentials, your account will be automatically deleted.</h6>
        <br>
        <h6>You have to contact an administrator to get your account activated. You don't know an administrator? BYE.</h6>
        <br>
        <h7>This page will refresh itself all 5 seconds to check the status.</h7>
    </div>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                cache_clear()
            }, 5000);
        });

        function cache_clear() {
            //window.location.reload(true);  //use this if you do want to remove the cache
            window.location.reload();
        }
    </script>
{% endblock %}
